.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-regular);
    padding: var(--space-regular);
    max-width: 393px;
    min-width: 393px;
    min-height: 852px;
    max-height: 852px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 100px;
}
.projects_rows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-regular);
}

.navigation_bar {
    background-color: var(--white);
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.interests {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-extra-small);
    margin-left: var(--space-regular);
    margin-right: var(--space-regular);
}
