.primary {
    border: 1px solid var(--black);
    padding: var(--space-small);

    display: flex;
    flex-direction: row;
    width: 361px;
    border-radius: var(--border-radius-large);
}

.secondary {
    border: 1px solid var(--black);
    border-radius: var(--border-radius-large);
    width: var(--space-regular);
    box-sizing: content-box;
}

.visible {
    border: none;
}
.invisible {
    display: none;
}

.search_item {
    border: none;
}

.search_item:focus {
    outline: none;
    box-shadow: none;
}
