.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-regular);
    padding: var(--space-regular);
    padding-bottom: var(--space-extra-large);
    width: 100%;
    max-width: 393px;
    min-width: unset;
    min-height: 852px;
    max-height: 852px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 100px;
}
.navigation_bar {
    background-color: var(--white);
    position: fixed;
    bottom: 0px;
    left: 0px;
}
