.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--blue-100);
    border-radius: var(--space-small);

    padding: var(--space-small) var(--space-regular);
    width: 100%;
    max-width: 361px;

    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black);

    cursor: pointer;
    transition: color 0.2s ease, background 0.2s ease;
}

.container:hover {
    color: var(--blue-primary);
}

.left {
    display: flex;
    align-items: center;
    gap: var(--space-small);
}

.icon {
    fill: currentColor;
    transition: fill 0.2s ease;
}

.text {
    transition: color 0.2s ease;
}
