.popupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: var(--white);
    padding: var(--space-regular);
    border-radius: var(--space-small);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-family: var(--font-family);
    width: 361px;
    gap: var(--space-regular);
}

.title {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--black);
    text-align: center;
}

.selects {
    display: flex;
    gap: var(--space-regular);
    margin-bottom: var(--space-regular);
}

.select {
    flex: 1;
    padding: var(--space-small);
    background-color: var(--blue-primary);
    color: var(--white);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--space-small);
    text-align: center;
    margin-bottom: var(--space-medium);
}

.dayLabel {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    color: black;
}

.dayCell {
    padding: var(--space-small);
    border-radius: 5px;
    font-size: var(--font-size-regular);
    background-color: var(--grey-50);
    cursor: pointer;
    user-select: none;
}

.dayCell:hover {
    background-color: var(--blue-100);
}

.selected {
    background-color: var(--blue-primary);
    color: var(--white);
}

.inRange {
    background-color: var(--blue-100);
    color: var(--black);
}

.empty {
    background: none;
    pointer-events: none;
}

.actions {
    display: flex;
    justify-content: space-between;
}
