.dropdownWrapper {
    display: flex;
    gap: var(--space-regular);
    margin-bottom: var(--space-regular);
}

.dropdown {
    flex: 1;
    position: relative;
    background-color: var(--blue-primary);
    color: var(--white);
    font-weight: var(--font-weight-bold);
    border-radius: 8px;
    padding: var(--space-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-regular);
}

.arrow {
    margin-left: var(--space-small);
    font-size: var(--font-size-regular);
    color: var(--white);
}

.dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--blue-primary);
    border-radius: 8px;
    margin-top: 4px;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.dropdownList li {
    padding: var(--space-small);
    cursor: pointer;
    font-weight: var(--font-weight-regular);
    color: var(--white);
}

.dropdownList li:hover {
    background-color: var(--blue-100);
    color: var(--black);
}
