.popupContainer {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: var(--white);
    padding: var(--space-medium);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-family: var(--font-family);
    width: 340px;
}

.title {
    font-size: var(--font-size-medium);
    margin-bottom: var(--space-regular);
    color: var(--black);
    text-align: center;
}

.selects {
    display: flex;
    gap: var(--space-regular);
    margin-bottom: var(--space-regular);
}

.select {
    flex: 1;
    padding: var(--space-small);
    background-color: var(--blue-primary);
    color: var(--white);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--space-small);
    text-align: center;
    margin-bottom: var(--space-medium);
}

.dayLabel {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    color: var(--grey-400);
}

.dayCell {
    padding: var(--space-small);
    border-radius: 5px;
    font-size: var(--font-size-regular);
    background-color: var(--blue-50);
    cursor: pointer;
    user-select: none;
}

.dayCell:hover {
    background-color: var(--blue-100);
}

.selected {
    background-color: var(--blue-primary);
    color: var(--white);
}

.empty {
    background: none;
    pointer-events: none;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.cancel,
.save {
    padding: var(--space-small) var(--space-medium);
    border: none;
    border-radius: 8px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    flex: 1;
}

.cancel {
    background-color: var(--blue-100);
    color: var(--blue-900);
    margin-right: var(--space-small);
}

.save {
    background-color: var(--blue-primary);
    color: var(--white);
}

/* ------------------------------------------------------ VARIABLES ------------------------------------------------------ */
:root {
    /* ----- COLORS ----- */
    --blue-primary: rgb(43, 95, 252);
    --blue-50: rgb(234, 239, 255);
    --blue-100: #bdcdfe;
    --blue-900: rgb(18, 40, 106);
    --white: #ffffff;
    --black: rgb(20, 20, 20);
    --grey-400: rgb(67, 67, 67);
    --yellow-secondary: rgb(255, 218, 1);
    --orange-secondary: rgb(255, 94, 9);
    --green-secondary: rgb(0, 193, 79);
    --purple-secondary: rgb(154, 65, 255);

    /* ----- TYPE ----- */
    --font-family: "Open Sans", sans-serif;

    --font-size-extra-large: 30px;
    --font-size-large: 24px;
    --font-size-medium: 20px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

    --font-style-normal: normal;
    --font-weight-bold: bold;

    --line-height-xxlarge: 100px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-small: 20px;

    /* ----- SPACING ----- */
    --space-small: 8px;
    --space-regular: 16px;
    --space-medium: 32px;
    --space-large: 48px;
    --space-extra-large: 140px;
}
