.settingsContainer {
    display: flex;
    flex-direction: column;
    background: var(--blue-50);
    border-radius: var(--space-small);
    padding: var(--space-regular);
    width: 100%;
    max-width: 361px;
    font-family: var(--font-family);
    margin-bottom: 16px;
    color: var(--black);
}

.settingsContainer.dark {
    background: var(--black);
    color: var(--white);
}

.settingsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: color 0.2s ease, background 0.2s ease;
}

.settingsContainer.dark .settingsList {
    color: var(--white);
}

.settingsList:hover {
    color: var(--blue-primary);
}

.left {
    display: flex;
    align-items: center;
    gap: var(--space-small);
}

.icon {
    fill: var(--black);
    transition: fill 0.2s ease;
}

.settingsContainer.dark .icon {
    fill: var(--white);
}

.text {
    transition: color 0.2s ease;
}
