.contentInner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 393px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 48px;
}

.navigationRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heading {
    flex: 1;
    text-align: center;
    font-weight: var(--font-style-normal);
    font-size: var(--font-size-large);
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.backIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon {
    color: var(--blue-50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

.iconButton {
    background: none;
    border: none;
    color: var(--blue-50);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-small);
}

.iconButton:hover {
    background-color: var(--blue-50);
    border-radius: var(--border-radius-large);
}

.pagination {
    color: var(--black);
    font-size: var(--font-size-regular);
    font-family: var(--font-family);
}
