.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-regular);
    width: 361px;
    height: 67px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-regular);
    padding: 0;
    margin: 0;
}

.avatar {
    width: 67px;
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    padding: 0;
    margin: 0;
}

.name {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    padding: 0;
    margin: 0;
}

.email {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    padding: 0;
    margin: 0;
}

.icon {
    fill: var(--blue-primary);
    padding: 0;
    margin: 0;
}

.iconColorBlind {
    fill: #067490;
}

.icon:hover {
    fill: var(--blue-900);
    padding: 0;
    margin: 0;
}
