.toggleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggleButton {
    width: 45px;
    height: 24px;
    border-radius: 100px;
    border: none;
    background-color: var(--blue-100);
    padding: var(--space-extra-small);
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.toggled {
    background-color: var(--blue-primary);
}

.circle {
    width: 16px;
    height: 16px;
    background-color: var(--white);
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.toggled .circle {
    transform: translateX(21px); /* 45 - 16 - 4x2 = 21 */
}
