.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-regular);
    padding: var(--space-regular);
    padding-bottom: var(--space-extra-large);
    max-width: 393px;
    min-width: 393px;
    min-height: 852px;
    max-height: 852px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 100px;
}

.task_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    gap: var(--space-small);
}

.task_title {
    font-size: var(--space-medium);
    padding: 0px;
    text-align: left;
}

.task_item {
    font-size: var(--font-size-regular);
    padding: 0px;
    margin: 0px;
    text-align: left;
    margin-bottom: var(--space-regular);
    display: flex;
    flex-direction: column;
    gap: var(--space-regular);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-small);
    width: 100%;
}

.nav_bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--space-small);
    background-color: white;
    position: fixed;
    bottom: 0px;
}

.popup_header {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    margin-bottom: var(--space-regular);
}
