.button {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    width: 100%;
    padding-top: var(--space-small);
    padding-left: var(--space-regular);
    padding-right: var(--space-regular);
    padding-bottom: var(--space-small);
    border-radius: 100px;
    align-items: center;
    border: none;

    &:hover {
        background-color: var(--blue-900);
        color: var(--white);
    }
}

.primary {
    background: var(--blue-primary);
    color: var(--white);
}

.secondary {
    background-color: var(--white);
    border: 1px solid var(--blue-primary);
    color: var(--blue-primary);
}

.terciary {
    background: var(--blue-100);
    color: var(--black);
}

.disabled {
    pointer-events: none;
    color: var(--white);
    background-color: var(--blue-100);
}

.small {
    font-size: var(--font-size-small);
    padding: var(--space-small);
    align-items: center;
}

.large {
    font-size: var(--font-size-large);
    padding: var(--space-regular);
}

.error {
    background-color: var(--orange-secondary);
}

/* ------------------------------------------------------ VARIABLES ------------------------------------------------------ */
:root {
    /* ----- COLORS ----- */
    --blue-primary: rgb(43, 95, 252);
    --blue-50: rgb(234, 239, 255);
    --blue-100: #bdcdfe;
    --blue-900: rgb(18, 40, 106);
    --white: #ffffff;
    --black: rgb(20, 20, 20);
    --grey-400: rgb(67, 67, 67);
    --yellow-secondary: rgb(255, 218, 1);
    --orange-secondary: rgb(255, 94, 9);
    --green-secondary: rgb(0, 193, 79);
    --purple-secondary: rgb(154, 65, 255);

    /* ----- TYPE ----- */
    --font-family: "Open Sans", sans-serif;

    --font-size-extra-large: 30px;
    --font-size-large: 24px;
    --font-size-medium: 20px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

    --font-style-normal: normal;
    --font-weight-bold: bold;

    --line-height-xxlarge: 100px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-small: 20px;

    /* ----- SPACING ----- */
    --space-small: 8px;
    --space-regular: 16px;
    --space-medium: 32px;
    --space-large: 48px;
    --space-extra-large: 140px;
}
