.progressContainerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}

.progressContainer {
    position: relative;
    width: 64px;
    height: 64px;
}

.progressCircle {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.progressCircleBg {
    stroke: var(--white);
    opacity: 0.5;
}
.projectCircleBg {
    stroke: var(--white);
}

.progressCircleIndicator {
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.projectCardIndicator {
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.projectPercentage {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family);
    color: var(--black);
}

.taskPercentage {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family);
    color: var(--white);
}
