.card {
    background-color: var(--blue-50);
    border-radius: var(--space-small);
    padding: var(--space-regular);
    gap: var(--space-regular);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: var(--font-family);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 361px;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    gap: var(--space-small);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.label {
    flex-grow: 1;
}

.arrow {
    font-size: var(--font-size-small);
    color: black;
}

.arrow:hover {
    font-size: var(--font-size-small);
    color: var(--blue-primary);
}

.dateRange {
    margin-top: 2px;
    font-size: var(--font-size-regular);
    color: var(--black);
}

.date_card_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: var(--space-regular);
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: var(--space-regular);
}

.date_card_title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.date_card_date {
    font-size: var(--font-size-regular);
    color: var(--grey-400);
}

.date_card_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-regular);
}

.date_picker_popup {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--white);
    border-radius: var(--space-small);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: var(--space-small);
}
