.card__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-50);
    border-radius: var(--space-small);
    padding: var(--space-regular);
    gap: var(--space-regular);
}

.card__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    position: relative; /* Relative positioning context for dropdown menu in DropDown_Menu.module.css */
}

.project_chips {
    display: grid;
    grid-template-rows: 1fr;
    gap: var(--space-regular);
}

.card__icon {
    fill: var(--blue-primary);
    padding: 0;
    margin: 0;

    &:hover {
        fill: var(--blue-900);
    }
}

.card__title {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    padding: 0;
    margin: 0;
}
