.card__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-50);
    border-radius: var(--space-small);
    padding: var(--space-regular);
    gap: var(--space-regular);
}

.card__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    position: relative;
}

.dropdown__menu {
    position: absolute;
    top: var(--space-medium);
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 150px;
}

.dropdown__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown__item {
    padding: var(--space-regular);
    cursor: pointer;
    font-size: var(--font-size-regular);
    transition: background-color 0.2s;
}

.dropdown__item:not(:last-child) {
    border-bottom: 1px solid black;
}

.dropdown__item:hover {
    background-color: var(--blue-50);
}
.project_chips {
    display: grid;
    grid-template-rows: 1fr;
    gap: var(--space-regular);
}

.card__icon {
    fill: var(--blue-primary);
    padding: 0;
    margin: 0;

    &:hover {
        fill: var(--blue-900);
    }
}

.card__title {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    padding: 0;
    margin: 0;
}

.card__text {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--black);
    text-align: center;
    padding: 0;
    margin: 0;
    max-width: 220px;
}

.date {
    display: flex;
    align-items: center;
    gap: var(--space-small);
    padding: 0;
    margin: 0;
}

.date__icon {
    fill: var(--black);
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------ VARIABLES ------------------------------------------------------ */
:root {
    /* ----- COLORS ----- */
    --blue-primary: rgb(43, 95, 252);
    --blue-50: rgb(234, 239, 255);
    --blue-100: #bdcdfe;
    --blue-900: rgb(18, 40, 106);
    --white: #ffffff;
    --black: rgb(20, 20, 20);
    --grey-400: rgb(67, 67, 67);
    --yellow-secondary: rgb(255, 218, 1);
    --orange-secondary: rgb(255, 94, 9);
    --green-secondary: rgb(0, 193, 79);
    --purple-secondary: rgb(154, 65, 255);

    /* ----- TYPE ----- */
    --font-family: "Open Sans", sans-serif;

    --font-size-extra-large: 30px;
    --font-size-large: 24px;
    --font-size-medium: 20px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

    --font-style-normal: normal;
    --font-weight-bold: bold;

    --line-height-xxlarge: 100px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-small: 20px;

    /* ----- SPACING ----- */
    --space-extra-small: 4px;
    --space-small: 8px;
    --space-regular: 16px;
    --space-medium: 32px;
    --space-large: 48px;
    --space-extra-large: 140px;

    /* ----- BORDER RADIUS ----- */
    --border-radius-large: 100px;
}
