.chip {
    display: inline-block;
    padding: var(--space-small) var(--space-small);
    border-radius: var(--space-regular);
    font-size: 12px;
    text-align: center;
}

.label {
    display: inline-block;
}

.design {
    background-color: var(--orange-secondary);
    color: var(--white);
}

.marketing {
    background-color: var(--yellow-secondary);
    color: var(--black);
}

.uxui {
    background-color: var(--green-secondary);
    color: var(--black);
}

.frontend {
    background-color: var(--blue-primary);
    color: var(--white);
}

.backend {
    background-color: var(--purple-secondary);
    color: var(--white);
}
