.button_background {
    background-color: var(--blue-primary);
    border-radius: var(--space-small);
    border: none;
    width: 361px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: var(--space-regular);
}

.button_background:hover {
    background-color: var(--blue-900);
}

.button_icon {
    width: 42px;
    height: 42px;
    align-self: center;
    box-sizing: content-box;
    margin-top: var(--space-regular);
}

.button_heading {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: white;
    padding: 0px;
    border: 0px;
    margin-top: var(--space-regular);
    margin-bottom: 0px;
}

.button_description {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size-small);
    font-style: var(--font-weight-normal);
    color: white;
    border: 0px;
    padding: 0px;
    margin-top: var(--space-regular);
    margin-bottom: var(--space-regular);
}
