.project_primary {
    display: flex;
    flex-direction: column;
    border-radius: var(--space-small);
    text-align: left;
    padding: var(--space-regular);
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.project_secondary {
    display: flex;
    flex-direction: column;
    border-radius: var(--space-small);
    text-align: left;
    padding: var(--space-regular);
    width: 100%;
    background-color: var(--blue-50);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.description_heading {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    padding: 0;
    margin: 0;
}
.description_body {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-style: var(--font-weight-normal);
    color: var(--black);
    margin: 0;
    padding: 0;
    white-space: pre-line;
}

.conditions {
    display: flex;
    flex-direction: column;
    border-radius: var(--space-small);
    align-items: center;
    padding: var(--space-regular);
    text-align: center;
    background-color: var(--blue-50);
    margin-top: var(--space-regular);
}

/* ------------------------------------------------------ VARIABLES ------------------------------------------------------ */
:root {
    /* ----- COLORS ----- */
    --blue-primary: rgb(43, 95, 252);
    --blue-50: rgb(234, 239, 255);
    --blue-100: #bdcdfe;
    --blue-900: rgb(18, 40, 106);
    --white: #ffffff;
    --black: rgb(20, 20, 20);
    --grey-400: rgb(67, 67, 67);
    --yellow-secondary: rgb(255, 218, 1);
    --orange-secondary: rgb(255, 94, 9);
    --green-secondary: rgb(0, 193, 79);
    --purple-secondary: rgb(154, 65, 255);

    /* ----- TYPE ----- */
    --font-family: "Open Sans", sans-serif;

    --font-size-extra-large: 30px;
    --font-size-large: 24px;
    --font-size-medium: 20px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

    --font-style-normal: normal;
    --font-weight-bold: bold;

    --line-height-xxlarge: 100px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-small: 20px;

    /* ----- SPACING ----- */
    --space-extra-small: 4px;
    --space-small: 8px;
    --space-regular: 16px;
    --space-medium: 32px;
    --space-large: 48px;
    --space-extra-large: 140px;

    /* ----- BORDER RADIUS ----- */
    --border-radius-large: 100px;
}
