.primary {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.input_name {
    font-family: var(--font-family);
    font-size: var(--label-font-size);
}

.input_box {
    font-family: var(--font-family);
    font-size: var(--label-font-size);
    color: var(--black);
    padding: 8px;
    border-radius: 100px;
    width: 361px;
    border: 1px solid var(--black);
}

/* ----- BORDER RADIUS ----- */
--border-radius-large: 100px;
