.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-50);
    border-radius: var(--space-small);
    padding-top: var(--space-regular);
    padding-left: var(--space-medium);
    padding-right: var(--space-regular);
    padding-bottom: var(--space-medium);
    gap: var(--space-regular);
}

.card__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0;
    margin: 0;
}

.card__icon {
    fill: var(--blue-primary);
    padding: 0;
    margin: 0;
}

.card__title {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    padding: 0;
    margin: 0;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.date__icon {
    fill: var(--black);
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------ VARIABLES ------------------------------------------------------ */
:root {
    /* ----- COLORS ----- */
    --blue-primary: rgb(43, 95, 252);
    --blue-50: rgb(234, 239, 255);
    --blue-100: #bdcdfe;
    --blue-900: rgb(18, 40, 106);
    --white: #ffffff;
    --black: rgb(20, 20, 20);
    --grey-400: rgb(67, 67, 67);
    --yellow-secondary: rgb(255, 218, 1);
    --orange-secondary: rgb(255, 94, 9);
    --green-secondary: rgb(0, 193, 79);
    --purple-secondary: rgb(154, 65, 255);

    /* ----- TYPE ----- */
    --font-family: "Open Sans", sans-serif;

    --font-size-extra-large: 30px;
    --font-size-large: 24px;
    --font-size-medium: 20px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

    --font-style-normal: normal;
    --font-weight-bold: bold;

    --line-height-xxlarge: 100px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-small: 20px;

    /* ----- SPACING ----- */
    --space-small: 8px;
    --space-regular: 16px;
    --space-medium: 32px;
    --space-large: 48px;
    --space-extra-large: 140px;
}
