.dropdown__menu {
    position: absolute; /*absolu to the project card */
    top: var(--space-medium);
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 150px;
}

.dropdown__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown__item {
    padding: var(--space-regular);
    cursor: pointer;
    font-size: var(--font-size-regular);
    transition: background-color 0.2s;
}

.dropdown__item:not(:last-child) {
    border-bottom: 1px solid black;
}

.dropdown__item:hover {
    background-color: var(--blue-50);
}
