.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    padding: var(--space-small) var(--space-regular);
    border-radius: 100px;
    border: none;
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    background: var(--white);
    color: var(--black);
    border: 2px solid;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.label {
    display: inline-block;
}

.icon {
    display: inline-flex;
}

.selected {
    opacity: 1;
}

.chip svg {
    width: 14px;
    height: auto;
    fill: var(--black);
}

.chip:not(.selected) svg {
    fill: var(--black) !important;
}

/* Selecionados */
.design.selected {
    background-color: var(--orange-secondary);
    color: var(--white);
    fill: var(--white);
    border: 2px solid var(--orange-secondary);
}
.marketing.selected {
    background-color: var(--yellow-secondary);
    color: var(--black);
    border: 2px solid var(--yellow-secondary);
}
.uxui.selected {
    background-color: var(--green-secondary);
    color: var(--black);
    border: 2px solid var(--green-secondary);
}
.frontend.selected {
    background-color: var(--blue-primary);
    color: var(--white);
    border: 2px solid var(--blue-primary);
}
.backend.selected {
    background-color: var(--purple-secondary);
    color: var(--white);
    border: 2px solid var(--purple-secondary);
}

/* Deselecionados */
.design:not(.selected) {
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--orange-secondary);
}
.marketing:not(.selected) {
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--yellow-secondary);
}
.uxui:not(.selected) {
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--green-secondary);
}
.frontend:not(.selected) {
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--blue-primary);
}
.backend:not(.selected) {
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--purple-secondary);
}

.frontend.selected svg,
.backend.selected svg {
    fill: var(--white) !important;
}

.design.selected svg {
    fill: var(--white) !important;
}
