.button {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    text-align: center;
    min-width: 100px;
    width: auto;
    height: var(--space-medium);
    padding: 0 var(--space-regular);
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s;
}

.button:hover {
    background-color: var(--blue-900);
    color: var(--white);
}

.primary {
    background: var(--blue-primary);
    color: var(--white);
    border: none;
}

.disabled {
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--blue-primary);
}
