.statusBar {
    width: 100%;

    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.time {
    font-size: 16px;
    color: var(--white);
}

.right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icons {
    color: var(--white);
}
